:root{
    --margin: 30px;
    --btn_height: 30px;
    --btn_width: 70px;
}


.move_area {
    position: relative;
    height: 420px;
    width: 900px;
    margin: 30px;
}
.move_area_visible{
    border: solid;
    border-color: gray;
    border-width: 1px;
    background-color: MintCream;
}


.moving_block{
    position: absolute;
    top: calc(3 * var(--margin));
    left: calc(3 * var(--margin));
    height: calc(2 * var(--margin) + var(--btn_height));
    width: calc(2 * var(--margin) + var(--btn_width));
}
.submit_btn {
    position: absolute;
    top: var(--margin);
    left: var(--margin);
    height: var(--btn_height);
    width: var(--btn_width);
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    color: white;
    line-height: var(--btn_height);

}
.left_trigger {
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(2 * var(--margin) + var(--btn_height));
    width: var(--margin);
}
.right_trigger {
    position: absolute;
    top: 0px;
    left: calc(var(--margin) + var(--btn_width));
    height: calc(2 * var(--margin) + var(--btn_height));
    width: var(--margin);
}
.up_trigger {
    position: absolute;
    top: 0px;
    left: var(--margin);
    height: calc(var(--margin) + var(--btn_height) / 2);
    width: var(--btn_width);
}
.down_trigger {
    position: absolute;
    top: calc(var(--margin) + var(--btn_height) / 2);
    left: var(--margin);
    height: calc(var(--margin) + var(--btn_height) / 2);
    width: var(--btn_width);
}