{% extends "layout.html" %}

{% block script_head %}
{% endblock script_head %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='common.css')}}">
{% endblock style %}

{% block content %}
    <div class="topcontainer">
        <h3>Bravo vous êtes arrivés aux dernières épreuves !!</h3>
        <h4>Pour les enfants :</h4>
        <p>Cherchez un indices dans la maison : --à préciser--</p>
        <h4>Pour les adultes :</h4>
        <img src="{{ imgs[0] }}" alt="<oups_l'image_est_introuvable>" width="1400px">
        <img src="{{ imgs[3] }}" alt="<oups_l'image_est_introuvable>" width="1400px">
        <img src="{{ imgs[1] }}" alt="<oups_l'image_est_introuvable>" width="1400px">
        <img src="{{ imgs[2] }}" alt="<oups_l'image_est_introuvable>" width="1400px">
    </div>
{% endblock content %}

