{% extends "layout.html" %}

{% block script_head %}
    <script src="{{url_for('static', filename='home.JS')}}"></script>
{% endblock script_head %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='common.css')}}">
{% endblock style %}

{% block script_body %}
    <script>
        $(document).ready(function(){
            console.log('DOM READY');
            mouse_trigger($(".move_area").width(), $(".move_area").height());
        });
    </script>
{% endblock script_body %}

{% block content %}
    <div class="topcontainer">
        <div class="password_div">
            <label>Mot de passe</label>
            <input id="input_pwd" type="text" placeholder="Mot de passe">
        </div>
        <div class="move_area">
            <div class="moving_block">
                <div class="left_trigger"></div>
                <div class="right_trigger"></div>
                <div class="up_trigger"></div>
                <div class="down_trigger"></div>
                <div class="submit_btn" onclick="submit()">Valider</div>
            </div>
        </div>
        <div class="bottom_div">
            <div id="lock_btn" onclick="lock()" style="display:none">verr</div>
            <a id="matrix_link" href="/matrix" style="display:none">Aller à la matrice</a>
        </div>
        <p id="display_move_count" style="display:none">0</p>
    </div>
{% endblock content %}
