{% extends "layout.html" %}

{% block script_head %}
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="{{url_for('static', filename='home.JS')}}"></script>
{% endblock script_head %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
{% endblock style %}

{% block content %}

{% block script_body %}
    <script>
        $(document).ready(function(){
            console.log('DOM READY');
            mouse_trigger($(".move_area").width(), $(".move_area").height());
        });
    </script>
{% endblock script_body %}

    <div class="move_area">
        <div class="moving_block">
            <div class="left_trigger"></div>
            <div class="right_trigger"></div>
            <div class="up_trigger"></div>
            <div class="down_trigger"></div>
            <div class="submit_btn" onclick="submit()">Valider</div>
        </div>
    </div>

    <div>
        <p id="X"></p>
        <p id="Y"></p>
    </div>
{% endblock content %}
