<!DOCTYPE html>
<html>
<head>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>???</title>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    {% block script_head %}{% endblock script_head %}

    {% block style %}{% endblock style %}
</head>

<body>

    {% block script_body %}{% endblock script_body %}

<!--    <div>-->
<!--        <a href="/home">Home</a><br>-->
<!--        <a href="/matrix">Matrix</a><br>-->
<!--    </div>-->

    <div>
        {% block content %}{% endblock %}
    </div>

</body>
</html>

<!--
- Centrer la colonne centrale d'affichage du contenu
- Une image pour les colonnes de gauche et de droite
- Une bannière de titre
- Reset le password quand la page est rafraichie
-->