{% extends "layout.html" %}

{% block script_head %}
    <script src="{{url_for('static', filename='matrix.JS')}}"></script>
{% endblock script_head %}

{% block style %}
    <style>
    .cell {
        border: solid;
        border-color: gray;
        border-width: 1px;
        cursor: pointer;
    }
    .cell:hover {
        background-color: cyan;
    }
    .cell-selected {
        background-color: blue;
    }
    #matrix {
        border-collapse: collapse;
    }
    #matrix td {
        padding: 10px;
    }
    </style>
{% endblock style %}

{% block content %}
     <table id="matrix">
        <tr>
            <td id="1-1" class="cell" onclick="cell_clicked(this)">06</td> <!-- p1 : M -->
            <td id="1-2" class="cell" onclick="cell_clicked(this)">19</td> <!-- p12 : A -->
            <td id="1-3" class="cell" onclick="cell_clicked(this)">04</td> <!-- p3 : M -->
            <td id="1-4" class="cell" onclick="cell_clicked(this)">29</td> <!-- p5 : J -->
            <td id="1-5" class="cell" onclick="cell_clicked(this)">11</td> <!-- p6 : M -->
            <td id="1-6" class="cell" onclick="cell_clicked(this)">22</td> <!-- p15 : D -->
            <td id="1-7" class="cell" onclick="cell_clicked(this)">03</td> <!-- p9 : J -->
        </tr>
         <tr>
            <td id="2-1" class="cell" onclick="cell_clicked(this)">14</td> <!-- p15 : D -->
            <td id="2-2" class="cell" onclick="cell_clicked(this)">18</td> <!-- p13 : J -->
            <td id="2-3" class="cell" onclick="cell_clicked(this)">93</td> <!-- p7 : A -->
            <td id="2-4" class="cell" onclick="cell_clicked(this)">03</td> <!-- p8 : M -->
            <td id="2-5" class="cell" onclick="cell_clicked(this)">01</td> <!-- p2 : M -->
            <td id="2-6" class="cell" onclick="cell_clicked(this)">06</td> <!-- p12 : J -->
            <td id="2-7" class="cell" onclick="cell_clicked(this)">84</td> <!-- p4 : A -->
        </tr>
         <tr>
            <td id="3-1" class="cell" onclick="cell_clicked(this)">11</td> <!-- p10 : J -->
            <td id="3-2" class="cell" onclick="cell_clicked(this)">03</td> <!-- p11 : J -->
            <td id="3-3" class="cell" onclick="cell_clicked(this)">95</td> <!-- p8 : A -->
            <td id="3-4" class="cell" onclick="cell_clicked(this)">12</td> <!-- p14 : M -->
            <td id="3-5" class="cell" onclick="cell_clicked(this)">13</td> <!-- p1 : J -->
            <td id="3-6" class="cell" onclick="cell_clicked(this)">07</td> <!-- p4 : J -->
            <td id="3-7" class="cell" onclick="cell_clicked(this)">21</td> <!-- p13 : A -->
        </tr>
         <tr>
            <td id="4-1" class="cell" onclick="cell_clicked(this)">04</td> <!-- p7 : M -->
            <td id="4-2" class="cell" onclick="cell_clicked(this)">95</td> <!-- p9 : A -->
            <td id="4-3" class="cell" onclick="cell_clicked(this)">12</td> <!-- p11 : M -->
            <td id="4-4" class="cell" onclick="cell_clicked(this)">82</td> <!-- p3 : A -->
            <td id="4-5" class="cell" onclick="cell_clicked(this)">60</td> <!-- p2 : A -->
            <td id="4-6" class="cell" onclick="cell_clicked(this)">03</td> <!-- p14 : J -->
            <td id="4-7" class="cell" onclick="cell_clicked(this)">02</td> <!-- p15 : D -->
        </tr>
         <tr>
            <td id="5-1" class="cell" onclick="cell_clicked(this)">18</td> <!-- p3 : J -->
            <td id="5-2" class="cell" onclick="cell_clicked(this)">15</td> <!-- p10 : A -->
            <td id="5-3" class="cell" onclick="cell_clicked(this)">17</td> <!-- p15 : D -->
            <td id="5-4" class="cell" onclick="cell_clicked(this)">16</td> <!-- p11 : A -->
            <td id="5-5" class="cell" onclick="cell_clicked(this)">09</td> <!-- p15 : D -->
            <td id="5-6" class="cell" onclick="cell_clicked(this)">29</td> <!-- p2 : J -->
            <td id="5-7" class="cell" onclick="cell_clicked(this)">86</td> <!-- p5 : A -->
        </tr>
         <tr>
            <td id="6-1" class="cell" onclick="cell_clicked(this)">07</td> <!-- p6 : J -->
            <td id="6-2" class="cell" onclick="cell_clicked(this)">23</td> <!-- p15 : D -->
            <td id="6-3" class="cell" onclick="cell_clicked(this)">08</td> <!-- p9 : M -->
            <td id="6-4" class="cell" onclick="cell_clicked(this)">03</td> <!-- p10 : M -->
            <td id="6-5" class="cell" onclick="cell_clicked(this)">24</td> <!-- p8 : J -->
            <td id="6-6" class="cell" onclick="cell_clicked(this)">10</td> <!-- p13 : M -->
            <td id="6-7" class="cell" onclick="cell_clicked(this)">05</td> <!-- p12 : M -->
        </tr>
         <tr>
            <td id="7-1" class="cell" onclick="cell_clicked(this)">59</td> <!-- p1 : A -->
            <td id="7-2" class="cell" onclick="cell_clicked(this)">16</td> <!-- p14 : A -->
            <td id="7-3" class="cell" onclick="cell_clicked(this)">11</td> <!-- p7 : J -->
            <td id="7-4" class="cell" onclick="cell_clicked(this)">20</td> <!-- p15 : D -->
            <td id="7-5" class="cell" onclick="cell_clicked(this)">10</td> <!-- p4 : M -->
            <td id="7-6" class="cell" onclick="cell_clicked(this)">89</td> <!-- p6 : A -->
            <td id="7-7" class="cell" onclick="cell_clicked(this)">07</td> <!-- p5 : M -->
        </tr>
    </table>
{% endblock content %}

