{% extends "layout.html" %}

{% block style %}
    <style>
    .cell {
        border: solid;
        border-color: gray;
        border-width: 1px;
        background-color: yellow;
    }
    </style>
{% endblock style %}

{% block content %}
     <table>
        <tr>
            <th class="cell">10</th>
            <th class="cell">25</th>
            <th class="cell">08</th>
        </tr>
         <tr>
            <th class="cell">07</th>
            <th class="cell">84</th>
            <th class="cell">11</th>
        </tr>

         <tr>
            <th class="cell">24</th>
            <th class="cell">60</th>
            <th class="cell">29</th>
        </tr>
    </table>
{% endblock content %}